* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(../assets/img/bg_img_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color:#474746;
    background-blend-mode: soft-light;

}

/*  ============================= navbar ============================= */

.navbar ul li {
	
	font-size:13px;
	text-transform: uppercase;
	font-weight: 600;
}

#navbar ul li>a {
	transition:all 0.3s ease-in-out;
}

#navbar ul li>a:hover{
	color:#ff6d40;
}


.active {
	color:#ff6d40;
}

.navbar-brand {
	font-weight: 600;
	font-size:25px;

}

.navbar-default .navbar-brand {
	color:#3f3b3b;
}

.navbar-brand span {
	text-transform: lowercase;
	color:#ff6d40;
}

.navbar-default {
	background-color: rgba(255,255,255, 0.9);
	border-top:5px solid #ff6d40;
}


/* ======================== text_box ================================*/

#home {
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font-size: 40px;
	font-weight: 600;
	display:block;
	/*width:400px;
	height:400px;*/
	/*background-color:red;*/
	margin-top: 180px;
}

h1 {
	font-size:55px;
	text-shadow: 0px 2px 0px rgba(0,0,0, 1);
}

#home h1 span {
	color:#ff6d40;
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.5);
}


.medium_size {
	font-size:45px;
	text-shadow: 0px 2px 0px rgba(0,0,0, 1);
}

.small_size {
	font-size:30px;
	text-shadow: 0px 2px 0px rgba(0,0,0, 1);
}

.h4 {
	font-size:25px;
	text-shadow: 0px 2px 0px rgba(0,0,0, 1);
}



